<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Регистрация</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/registration.css">
</head>

<body style="width: 100%;height: 100%;">
    <div class="col gradient-col">
        <div class="logo">
            <img src="assets/img/logo.png" class="logo-img" alt="Logo">
        </div>

        <div class="button-container">
            <div class="nav-links">
                <a href="{% url 'index' %}">Домой</a>
            </div>        
        </div>

        <p class="header-title">Онлайн запись в городе Екатеринбург</p>
        
        <div>
            <img src="assets/img/tochki.png" class="dots-img">
        </div>

        <div>
            <img src="assets/img/tochki.png" class="dots-img2">
        </div>

        <div>
            <img src="assets/img/tochki2.png" class="dots-img5">
            <img src="assets/img/tochki2.png" class="dots-img6">
        </div>

        <div>
            <img src="assets/img/krug.png" class="circle-img1">
            <img src="assets/img/krug.png" class="circle-img2">
        </div>

    </div>
    <div class="container">
        <h2 style="margin-left: 200px; padding-top: 20px;">Регистрация</h2>
        <form method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="letrHqgGZhX3FyEzgoRX26jNPH6LBgSIr2oKayenK8pIfVTVVijAPVp0qG2d2YfD">
            <div class="form-group">
                <label for="id_email">Email:</label>
                <input type="email" name="email" placeholder="Введите почту" maxlength="320" required="" id="id_email">
            </div>
            <div class="form-group">
                <label for="id_username">Имя пользователя:</label>
                <input type="text" name="username" placeholder="Введите имя пользователя" autofocus="" required="" id="id_username">
            </div>
            <div class="form-group">
                <label for="id_password1">Пароль:</label>
                <input type="password" name="password1" placeholder="Введите пароль" required="" id="id_password1">
            </div>
            <div class="form-group">
                <label for="id_password2">Подтвердите пароль:</label>
                <input type="password" name="password2" placeholder="Подтвердите пароль" required="" id="id_password2">
            </div>
            <div class="form-group">
                <label for="id_account_type">Тип аккаунта:</label>
                <select name="account_type" class="select" id="id_account_type">
                    <option value="master">Мастер</option>

                    <option value="client">Клиент</option>

                </select>
            </div>
            <button type="submit" class="btn">Зарегистрироваться</button>
        </form>
    </div>
</body>

</html>